<div class="mat-tab-nav-bar">
  <div class="navbar-wrapper">
    <ul>
      <li><a href="#" (click)="onSelect('recipe')">Recipes</a></li>
      <li><a href="#" (click)="onSelect('shopping-list')">Shopping List</a></li>
    </ul>
    <ul>
      <li class="dropdown" appDropdown>
        <a href="#" class="dropdown-toggle" role="button">Manage</a>
        <ul class="dropdown-menu">
          <li><a href="#">Save Data</a></li>
          <li><a href="#">Fetch Data</a></li>
         </ul>
      </li>
    </ul>
  </div>
</div>
